*
{
  transition: all .2s linear;
  margin: 0;
  padding: 0;
}
  @font-face {
    font-family: "Main";
    src: url("../fonts/Quicksand-VariableFont_wght.ttf");
  }
  
  @font-face {
    font-family: "secoundry";
    src: url("../fonts/Cairo-VariableFont_wght.ttf");
  }
  html
  {
      scroll-behavior: smooth;
  }
  body {
    font-family: "Main","secoundry";
  }
  h2
  {
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .message
  {
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .Menu
  {
    font-size:30px;
    cursor:pointer;
    color: #044a75;
  }
  .icon-dashboard
  {
    font-size:30px;
    cursor:pointer;
    float: right;
    color: #044a75;
  }
    .icon-sign-out
    {
        font-family: "Main";
    }
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #044a75;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #00bdff;
  }
  
  .sidenav .closebtn 
  {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;

  }
  
  @media screen and (max-height: 450px) 
  {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  table
  {
      text-align: center;
      border-radius: 5px;
      margin-bottom: 20px;

  }
  #users{
      border-collapse: collapse;
      width:100%;
  }

  #users td ,#users th{
      border: 1px solid #ddd;
      padding :8px;
      text-align: center;
  }

  #users tr:nth-child(even){
      background-color :#f2f2f2;
  }
  #users tr:hover {background-color : #ddd;}
  #users th{
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: center;
      background-color: #044a75;
      color: white;
      border-radius: 5px;
  }
  #orders{
    border-collapse: collapse;
    width:100%;
    
}

#orders td ,#orders th{
    border: 1px solid #ddd;
    padding :8px;
    text-align: center;
}

#orders tr:nth-child(even){
    background-color :#f2f2f2;
}
#orders tr:hover {background-color : #ddd;}
#orders th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #044a75;
    color: white;
    border-radius: 5px;
}
.cont form
{
  width: 500px;
  margin-left: auto;
  margin-right: auto;  
  border: #00bdff solid 1px;
  margin-top: 100px;
  border-radius: 20px;
  outline: none;
}
h3
{
    text-align: center;
    font-size: 30px;
}
input,select
{
color: #00bdff;
font-size: 20px;
text-align: center;
font-family: "Main";
display: block;
width: 300px;
margin-left: auto !important;
margin-right: auto !important;
align-items: center;
padding: 10px;
border: #00bdff solid 1px;
border-radius: 20px;
margin: 10px;
outline: none;
}
select
{
    width: 320px;
    background-color: #fff;
}
::placeholder
{
    color: #00bdff;
    font-family: "Main";
}

.buttonOne
{
font-size: 20px;
width: 320px;
margin-left: 90px;
margin-right: auto;
margin-top: 10px;
margin-bottom: 10px;
padding: 10px;
background: #00bdff;
border-color: #00bdff;
color: #ffffff;
outline: none;
border:#00bdff solid 1px ;
border-radius: 20px;
text-align: center;

}
    .buttonOne:hover {
      background: #ffffff;
      border-color: #00bdff;
      color: #00bdff;
    }
   .icon-user
  {
        text-align: left;
        position: absolute;
        margin-top: 12px;
        margin-left: 105px;
        color: #00bdff;
  }
  .icon-mail_outline
  {
    text-align: left;
    position: absolute;
    margin-top: 12px;
    margin-left: 105px;
    color: #00bdff;
  }
  .icon-home
  {
    text-align: left;
    position: absolute;
    margin-top: 12px;
    margin-left: 105px;
    color: #00bdff;
  }
  .icon-eye-slash
  {
    text-align: left;
    position: absolute;
    margin-top: 12px;
    margin-left: 105px;
    color: #00bdff;
  }
  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: rgb(94, 94, 94);
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #21f321;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .remove
  {
    padding: 5px;
    background-color: #044a75;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: 400;
    border: 1px solid #044a75;
  }
  .remove:hover
  {
    background-color: #ffffff;
    color: #aa0000;
   
  }

  .change
  {
    text-decoration: none;
    padding: 5px;
    background-color: #044a75;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: 400;
    border: 1px solid #044a75;
  }
  .change:hover
  {
    background-color: #ffffff;
    color: #aa0000;
  }
  .changecar
  {
     padding: 5px;
    background-color: #044a75;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: 400;
    border: 1px solid #044a75;
    margin: 2%; 
    height: 28px;
    width: 28px;
    margin-bottom: 4px;
  }
  .changecar:hover
  {
    background-color: #ffffff;
    color: #aa0000;
  }
  .icon-eye
  {
    text-align: left;
    position: absolute;
    margin-top: 12px;
    margin-left: 105px;
    color: #00bdff;
  }
  .reject
  {
    text-decoration: none;
    padding: 5px;
    background-color: #aa0000;
    color: #fff;
    border: none;
    border: 1px solid #aa0000;
    border-radius: 5px;
    font-weight: 400;
  }
  .reject:hover
  {
    background-color: #ffffff;
    color: #aa0000;
    border: 1px solid #aa0000;
  }
  .confirm
  {
    padding: 5px;
    background-color: #14aa00;
    color: #fff;
    border: none;
    border: 1px solid #14aa00;
    border-radius: 5px;
    font-weight: 400;
  }
  .confirm:hover
  {
    background-color: #ffffff;
    color: #14aa00;
    border: 1px solid #14aa00;
  }

  .icon-car
  {
    text-align: left;
    position: absolute;
    margin-top: 12px;
    margin-left: 105px;
    color: #00bdff;
  }
  .icon-car
  {
    text-align: left;
    position: absolute;
    margin-top: 12px;
    margin-left: 105px;
    color: #00bdff;  
  }
 
.icon-dollar
{
  text-align: left;
  position: absolute;
  margin-top: 12px;
  margin-left: 105px;
  color: #00bdff;  
}
.icon-texture  
{
    text-align: left;
    position: absolute;
    margin-top: 12px;
    margin-left: 105px;
    color: #00bdff;
}
.icon-photo_library
{
    text-align: left;
    position: absolute;
    margin-top: 0px;
    margin-left: -70px;
    color: #00bdff;
}
.textarea
{
color: #00bdff;
font-size: 20px;
text-align: center;
font-family: "Main";
display: block;
width: 300px;
margin-left: auto !important;
margin-right: auto !important;
align-items: center;
padding: 10px;
border: #00bdff solid 1px;
border-radius: 20px;
margin: 10px;
outline: none;
}
input[type="file"]
{
    display: none;
}
label
{
    color: #00bdff;
    font-size: 20px;
    text-align: center;
    font-family: "Main";
    display: block;
    width: 300px;
    margin-left: auto !important;
    margin-right: auto !important;
    align-items: center;
    padding: 10px;
    border: #00bdff solid 1px;
    border-radius: 20px;
    margin: 10px;
    outline: none;
    font-family: "Montserrat" , sans-serif;

}
.uploaded
{
    font-size: 20px;
    width: 320px;
    margin-left: 90px;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background: #00bdff;
    border-color: #00bdff;
    color: #ffffff;
    outline: none;
    border: #00bdff solid 1px;
    border-radius: 20px;
    text-align: center;
}
#b_file
{
    font-size: 20px;
    width: 320px;
    margin-left: 90px;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background: #00bdff;
    border-color: #00bdff;
    color: #ffffff;
    background-color: #00bdff;
    outline: none;
    border: #00bdff solid 1px;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
}
#Update_b_file
{
    font-size: 20px;
    width: 320px;
    margin-left: 90px;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background: #00bdff;
    border-color: #00bdff;
    color: #ffffff;
    background-color: #00bdff;
    outline: none;
    border: #00bdff solid 1px;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
}
.title
{
  background-color: #044a75;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  width: 100%;
  padding: 10px;
  border-radius: 5px;

}
.order_it
{
      border: 1px solid #ddd;
      padding :8px;
      text-align: center;
      background: none;
      border: none;
      color: #fff;
      font-weight: 700;
      font-family: "Main";
      font-size: 15px;
}
.done_update
{
    text-align: center;
    margin-top: 10%;
    margin-left: 22%;
    padding: 5%;
    border: #00bdff solid 1px;
    border-color: #00bdff;
    border-radius: 50px;
    width: 45%;
}
#smail
{
    color: #00bdff;
}
#requestform{
  border:2px solid #00bdff;
  margin-left:39%;
  margin-right:40%;
  margin-top:10%;
  margin-bottom:15%;
  padding-left:4%;
  padding-top:2%;
  border-radius: 5%;
}
#Requestbotton{
  display: inline-block;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 0.9rem 0.5rem;
  font-size: 1rem;
  line-height: 1;
  border-radius: 10rem;
  color: #fff;
  background: #00bdff;
  border-color: #00bdff;
  width: 200px;
  margin-bottom:5px;
  
  
  
        } 
  #Requestbotton:hover {
        background: #ffffff;
        border-color: #00bdff;
        color: #00bdff;
        
  }
  
  .addServices
  {
    background-color: #044a75;
    color: #fff;
    border: 1px solid #044a75;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    display: block;
    text-decoration: none;
    width: 100px;
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  .addServices:hover
  {
    background-color: #fff;
    color: #044a75;
  }
  .name
  {
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 100px !important;
    color: #044a75 !important;
    margin: 3px;
  }